body {
  padding: 3%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  transition: all 1s;
  box-sizing: border-box;
}

.calc-body {
  /* margin: 13vh auto; */
  box-shadow: 4px 18px 20px 3px #eee;
  padding: 5px 20px;
  height: fit-content;
  /* width: 30%; */
  max-width: 400px;
  /* overflow: overlay; */
  /* width: 300px; */
  border: solid 3px darkslategrey;
  border-radius: 10px;
  margin-top: 15vh;
  /*Align to middle*/
  margin-left: auto;
  margin-right: auto;
}
.btn-cont {
  /* margin: 0; */
  padding: 6px;
  /* width: fit-content; */
  border-radius: 5px;
}
.num-btn {
  padding: 15px 1%;
  margin: 3px;

}
.num-btn:hover {
  background-color: #f3f3f3 !important;
}
.bg-light-grey {
  background-color: #f3f3f3;
}
.bg-light-grey:hover {
  background-color: #ffffff !important;
}
.clear-button {
  padding: 15px 20px;
  background-color: #ff6347;
}
.del-button {
  padding: 15px 10px;
  background-color: #ffe100;
}
.mx-45 {
  margin-left: 1.8rem !important;
  margin-right: 2.9rem !important;
}
.rtl {
  direction: rtl;
}
.hidden-scroll {
  overflow-y: initial;
  overflow-x: scroll;
  border-top:  solid #ccc 1px;
}
.hidden-scroll::-webkit-scrollbar {
  height: 4px;
}
.hidden-scroll::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px #666; */
}
.hidden-scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  /* background-color: green; */
  /* outline: 5px  solid gray; */
}
.output-box {
  width: fit-content;
  margin-left: auto;
  height: 39px;
}
.border-1-5 {
  border: black solid 1.5px;
} 
.ac-del {
  padding: 0 12px !important;
  display: flex;
  justify-content: center;
}